nav ul {
	margin: 0;
	padding: 0 0 1rem;
	list-style: none;
}

nav > ul {
	margin-right: 1.5rem;
}

nav li {
	font-size: 1.2rem;
	line-height: 2.2rem;
}

nav li .section-title {
	margin: 0.5rem 1rem 0;
	color: #888888;
}

nav li a {
	display: block;
	padding: 0 1rem;
	color: #000000;
	text-decoration: none;
	border-radius: 0 1.1rem 1.1rem 0;
	transition-duration: 0.25s;
	background: none;
}

nav li a:hover,
nav li a:focus,
nav li a.current {
	background: linear-gradient(to right, #ffd133, #ffad40);
}
