@font-face {
	font-family: 'EB Garamond';
	font-weight: 400;
	font-style: normal;
	src: url('../fonts/EB_Garamond/regular.woff2');
}

@font-face {
	font-family: 'EB Garamond';
	font-weight: 500;
	font-style: italic;
	src: url('../fonts/EB_Garamond/medium-italic.woff2');
}

@font-face {
	font-family: 'EB Garamond';
	font-weight: 600;
	font-style: normal;
	src: url('../fonts/EB_Garamond/semibold.woff2');
}

@font-face {
	font-family: 'EB Garamond';
	font-weight: 600;
	font-style: italic;
	src: url('../fonts/EB_Garamond/semibold-italic.woff2');
}

@font-face {
	font-family: 'EB Garamond';
	font-weight: 700;
	font-style: normal;
	src: url('../fonts/EB_Garamond/bold.woff2');
}

@font-face {
	font-family: 'Open Sans';
	font-weight: 400;
	font-style: normal;
	src: url('../fonts/Open_Sans/regular.woff2');
}

@font-face {
	font-family: 'Open Sans';
	font-weight: 600;
	font-style: normal;
	src: url('../fonts/Open_Sans/semibold.woff2');
}

:root {
	--font-primary: 'Open Sans';
	--font-secondary: 'Catamaran';
	--color-white: #ffffff;
	--color-black: #000000;
	--default-gradient: linear-gradient(45deg, #73d8ed, #ff9ded);
	--default-gradient-hi-co: linear-gradient(45deg, #9cadbd, #d483c5);
	--main-content-width: 50vw;
}

::selection {
	background-color: #00000022;
}

html {
	font-family: var(--font-primary);
	font-size: 100%;
}

body {
	margin: 0;
	padding: 0;
}

body > header {
	--header-height: 4rem;
	height: var(--header-height);
	position: absolute;
	width: 100%;
	background-color: #00000011;
}

body > header > nav {

}

body > header > nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	height: var(--header-height);
}

body > header > nav a {
	text-decoration: none;
	font-family: var(--font-secondary);
	font-size: 1.1rem;
	color: var(--color-white);
}

body > header > nav a li {
	position: relative;
	height: calc(var(--header-height) / 2 - 0.1rem);
	margin: calc(var(--header-height) / 4) 1rem;
	padding-top: 0.1rem;
}

body > header > nav a li::after {
	content: '';
	position: relative;
	display: block;
	margin: 0.2rem auto 0;
	height: 2px;
	width: 0;
	background-color: #ffffff;
	transition-duration: 0.25s;
	transition-timing-function: ease;
}

body > header > nav a:hover li::after,
body > header > nav a:focus li::after {
	width: 100%;
}

body > main {
	min-height: 100vh;
	display: grid;
	grid-template-columns: [grid-start] 1fr [content-start] var(--main-content-width) [content-end] 1fr [grid-end];
}

body > footer {
	padding: 1rem; /* TEMP */
	background-color: #e3e3e3;
}

main > p,
article.full-post > p {
	grid-column: content-start / content-end;
	font-family: var(--font-primary);
	font-size: 1.25rem;
	margin: 0.4em auto;
	hyphens: auto;
}

main > p:first-of-type,
article.full-post > p:first-of-type {
	margin-top: 2rem;
}

main > p:first-of-type,
article.full-post > p:last-of-type {
	margin-bottom: 2rem;
}

main a {
	color: #000000;
	text-decoration: none;
	background-image: var(--default-gradient-hi-co);
	background-size: 100% 0.1em;
	background-position: 0 95%;
	background-repeat: no-repeat;
	transition-duration: 0.25s;
	transition-timing-function: ease;
}

main a:hover,
main a:focus {
	background-image: var(--default-gradient);
	background-size: 100% 80%;
	background-position: 0 60%;
	color: #000000;
}

article.full-post {
	grid-column: 1 / 4;
	display: grid;
	grid-template-columns: [grid-start] 1fr [content-start] var(--main-content-width) [content-end] 1fr [grid-end];
/*
     1fr          50vw          1fr
1          2               3          4
+----------+---------------+----------+1
| header                              |
+----------+---------------+----------+2
|          | content       |          |
                  ...
*/
}

article.full-post header {
	grid-column: grid-start / grid-end;
	display: grid;
	grid-template-columns: 10vw 7.5vw 1fr [content-start] var(--main-content-width) [content-end] 1fr 7.5vw 10vw;
	grid-template-rows: 6rem auto auto auto auto;
	grid-template-areas:
		'. .        .        .               .        .        .'
		'. overline overline overline        overline overline .'
		'. headline headline headline        headline headline .'
		'. .        subline  subline         subline  .        .'
		'. .        .        author-and-date .        .        .';
	background-image: var(--default-gradient);
	color: #ffffff;
}

article.full-post header p.overline {
	grid-area: overline;
	width: min-content;
	font-family: var(--font-secondary);
	font-size: 2rem;
	font-weight: 600;
	margin: 0;
	padding: 0 0.8rem;
	background-color: var(--color-white);
	color: #000000;
	mix-blend-mode: screen;
}

article.full-post header h1 {
	grid-area: headline;
	font-family: var(--font-secondary);
	font-size: 6rem;
	font-weight: 700;
	line-height: 0.95em;
	margin: 0.225em 0 0.1em;
}

article.full-post header p.subline {
	grid-area: subline;
	font-family: var(--font-secondary);
	font-size: 1.7rem;
	font-weight: 600;
	font-style: italic;
	margin: 0;
}

article.full-post header p.author-and-date {
	grid-area: author-and-date;
	font-family: var(--font-primary);
	font-size: 1rem;
	font-weight: 600;
	margin: 1.5em 0 1em;
}

article.full-post > p:first-of-type::first-letter {
	font-size: 3em;
	float: left;
	margin: 0.12em 0.1em 0 0;
}
