/* TODO remove unnecessary */
@font-face {
	font-family: 'Open Sans';
	font-weight: 300;
	font-style: normal;
	src: url('../fonts/Open_Sans/light.woff2');
}

@font-face {
	font-family: 'Open Sans';
	font-weight: 300;
	font-style: italic;
	src: url('../fonts/Open_Sans/light-italic.woff2');
}

@font-face {
	font-family: 'Open Sans';
	font-weight: 400;
	font-style: normal;
	src: url('../fonts/Open_Sans/regular.woff2');
}

@font-face {
	font-family: 'Open Sans';
	font-weight: 400;
	font-style: italic;
	src: url('../fonts/Open_Sans/regular-italic.woff2');
}

@font-face {
	font-family: 'Open Sans';
	font-weight: 600;
	font-style: normal;
	src: url('../fonts/Open_Sans/semibold.woff2');
}

@font-face {
	font-family: 'Open Sans';
	font-weight: 600;
	font-style: italic;
	src: url('../fonts/Open_Sans/semibold-italic.woff2');
}

@font-face {
	font-family: 'Open Sans';
	font-weight: 700;
	font-style: normal;
	src: url('../fonts/Open_Sans/bold.woff2');
}

@font-face {
	font-family: 'Open Sans';
	font-weight: 700;
	font-style: italic;
	src: url('../fonts/Open_Sans/bold-italic.woff2');
}

@font-face {
	font-family: 'Open Sans';
	font-weight: 800;
	font-style: normal;
	src: url('../fonts/Open_Sans/extrabold.woff2');
}

@font-face {
	font-family: 'Open Sans';
	font-weight: 800;
	font-style: italic;
	src: url('../fonts/Open_Sans/extrabold-italic.woff2');
}

@font-face {
	font-family: 'Catamaran';
	font-weight: 100;
	src: url('../fonts/Catamaran/thin.woff2');
}

@font-face {
	font-family: 'Catamaran';
	font-weight: 200;
	src: url('../fonts/Catamaran/extralight.woff2');
}

@font-face {
	font-family: 'Catamaran';
	font-weight: 300;
	src: url('../fonts/Catamaran/light.woff2');
}

@font-face {
	font-family: 'Catamaran';
	font-weight: 400;
	src: url('../fonts/Catamaran/regular.woff2');
}

@font-face {
	font-family: 'Catamaran';
	font-weight: 500;
	src: url('../fonts/Catamaran/medium.woff2');
}

@font-face {
	font-family: 'Catamaran';
	font-weight: 600;
	src: url('../fonts/Catamaran/semibold.woff2');
}

@font-face {
	font-family: 'Catamaran';
	font-weight: 700;
	src: url('../fonts/Catamaran/bold.woff2');
}

@font-face {
	font-family: 'Catamaran';
	font-weight: 800;
	src: url('../fonts/Catamaran/extrabold.woff2');
}

@font-face {
	font-family: 'Catamaran';
	font-weight: 900;
	src: url('../fonts/Catamaran/black.woff2');
}

:root {
	--font-primary: 'Open Sans';
	--font-secondary: 'Catamaran';
	--color-white: #ffffff;
	--color-black: #000000;
	--color-blue: #73d8ed;
	--color-pink: #ff9ded;
	--default-gradient: linear-gradient(45deg, var(--color-blue), var(--color-pink));
	--default-gradient-hi-co: linear-gradient(45deg, #9cadbd, #d483c5);
	--main-content-width: 50vw;
}

::selection {
	background-color: #00000022;
}

html {
	font-family: var(--font-primary);
	font-size: 100%;
}

body {
	margin: 0;
	padding: 0;
}

a, a:link, a:hover, a:visited, a:focus, a:active {
	color: inherit;
	text-decoration: none;
}

body > header {
	--header-height: 4rem;
	height: var(--header-height);
	position: absolute;
	width: 100%;
	background-color: #00000011;
	color: var(--color-white);
}

body > header > nav {

}

body > header > nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	height: var(--header-height);
}

body > header > nav a {
	text-decoration: none;
	font-family: var(--font-secondary);
	font-size: 1.1rem;
}

body > header > nav a li {
	position: relative;
	height: calc(var(--header-height) / 2 - 0.1rem);
	margin: calc(var(--header-height) / 4) 1rem;
	padding-top: 0.1rem;
}

body > header > nav a li::after {
	content: '';
	position: relative;
	display: block;
	margin: 0.2rem auto 0;
	height: 2px;
	width: 0;
	background-color: #ffffff;
	transition-duration: 0.25s;
	transition-timing-function: ease;
}

body > header > nav a:hover li::after,
body > header > nav a:focus li::after {
	width: 100%;
}

body > main {
	/*min-height: 100vh; WARNING: causes too big grids or boxes if there is not enough content to fill the page */
	display: grid;
	grid-template-columns: [grid-start] 1fr [content-start] var(--main-content-width) [content-end] 1fr [grid-end];
}

body > footer {
	padding: 1rem; /* TEMP */
	background-color: #e3e3e3;
}

main > section {
	grid-column: grid-start / grid-end;
	display: grid;
	grid-template-columns: [grid-start] 1fr [content-start] var(--main-content-width) [content-end] 1fr [grid-end];
	padding: 0.5rem 0;
}

main > section:first-of-type {
	padding-top: 6rem;
	background-image: var(--default-gradient);
	color: var(--color-white);
}

main > section p,
article.full-post > p {
	grid-column: content-start / content-end;
	font-family: var(--font-primary);
	font-size: 1.25rem;
	margin: 0.4em 0;
	hyphens: auto;
}

main > section h1 {
	grid-column: content-start / content-end;
	font-family: var(--font-secondary);
	font-size: 4rem;
	line-height: 0.95em;
	margin: 0.2em 0;
}

main > section h2 {
	font-family: var(--font-secondary);
	grid-column: content-start / content-end;
}

main p a,
main span a {
	background-image: var(--default-gradient-hi-co);
	background-size: 100% 0.1em;
	background-position: 0 95%;
	background-repeat: no-repeat;
	transition: background 0.25s ease;
}

main p a:hover,
main span a:hover,
main p a:focus,
main span a:focus {
	background-image: var(--default-gradient);
	background-size: 100% 80%;
	background-position: 0 60%;
}

article.full-post {
	grid-column: grid-start / grid-end;
	display: grid;
	grid-template-columns: [grid-start] 1fr [content-start] var(--main-content-width) [content-end] 1fr [grid-end];
/*
     1fr          50vw          1fr
1          2               3          4
+----------+---------------+----------+1
| header                              |
+----------+---------------+----------+2
|          | content       |          |
                  ...
*/
}

article.full-post header {
	grid-column: grid-start / grid-end;
	display: grid;
	grid-template-columns: 10vw 7.5vw 1fr [content-start] var(--main-content-width) [content-end] 1fr 7.5vw 10vw;
	grid-template-rows: 6rem auto auto auto auto;
	grid-template-areas:
		'. .        .        .               .        .        .'
		'. overline overline overline        overline overline .'
		'. headline headline headline        headline headline .'
		'. .        subline  subline         subline  .        .'
		'. .        .        author-and-date .        .        .';
	background-image: var(--default-gradient);
	color: var(--color-white);
}

article.full-post header .overline {
	grid-area: overline;
	width: min-content;
	font-family: var(--font-secondary);
	font-size: 2rem;
	font-weight: 600;
	margin: 0;
	padding: 0 0.8rem;
	background-color: var(--color-white);
	color: #000000;
	mix-blend-mode: screen;
}

article.full-post header h1 {
	grid-area: headline;
	font-family: var(--font-secondary);
	font-size: 6rem;
	font-weight: 700;
	line-height: 0.95em;
	margin: 0.225em 0 0.1em;
}

article.full-post header .subline {
	grid-area: subline;
	font-family: var(--font-secondary);
	font-size: 1.7rem;
	font-weight: 600;
	font-style: italic;
	margin: 0;
}

article.full-post header .author-and-date {
	grid-area: author-and-date;
	font-family: var(--font-primary);
	font-size: 1rem;
	font-weight: 600;
	margin: 1.5em 0 1em;
}

article.full-post > p:first-of-type {
	margin-top: 2rem;
}

article.full-post > p:last-of-type {
	margin-bottom: 2rem;
}

article.full-post > p:first-of-type::first-letter {
	font-size: 3em;
	float: left;
	margin: 0.12em 0.1em 0 0;
}

/* --------------- */

article.preview-post {
	grid-column: content-start / content-end;
	font-family: var(--font-primary);
	font-size: 1rem;
	height: auto;
	margin: 1rem 0;
	box-shadow: 0 0 0.75rem 0.75rem #00000011;
	padding: 0.75rem;
	border-radius: 0.5rem;
}

article.preview-post:last-of-type {
	border: none;
}

article.preview-post:first-of-type {
	margin-top: 2rem;
}

article.preview-post:last-of-type {
	margin-bottom: 2rem;
}

article.preview-post .overline {
	font-family: var(--font-secondary);
	font-weight: 600;
	font-size: 1.1em;
	margin: 0;
	color: #777777;
}

article.preview-post > a {
	display: block;
}

article.preview-post h3 {
	display: inline-block;
	font-family: var(--font-secondary);
	font-weight: 700;
	font-size: 2.5em;
	line-height: 0.95em;
	margin: 0.225em 0 0.1em;
	background-image: var(--default-gradient);
	background-size: 100% 0.1em;
	background-position: 0 0.85em;
	background-repeat: no-repeat;
	transition: background 0.25s ease;
}

article.preview-post a:hover h3,
article.preview-post a:focus h3 {
	background-size: 100% 0.6em;
	background-position: 0 0.2em;
}

article.preview-post .subline {
	font-family: var(--font-secondary);
	font-weight: 600;
	font-size: 1.5em;
	font-style: italic;
	margin: 0;
	color: #444444;
}

article.preview-post > .teaser {

}

article.preview-post time {
	color: #666666;
}

/* -------- */
