@font-face {
	font-family: 'Open Sans';
	font-weight: 400;
	font-style: normal;
	src: url('../fonts/Open_Sans/regular.woff2');
}

@font-face {
	font-family: 'Open Sans';
	font-weight: 600;
	font-style: normal;
	src: url('../fonts/Open_Sans/semibold.woff2');
}

@font-face {
	font-family: 'Fira Mono';
	src: url('../fonts/Fira_Mono/regular.woff2');
}

:root {
	--black: #000000;
	--white: #ffffff;
	--gray: #bbbbbb;
	--blue: #1da1f2;
	--green: #00bb00;
	--red: #f04747;
	--yellow: #faa61a;
	--shiny-gray: #bbbbbb66;
	--shiny-blue: #1da1f266;
	--shiny-green: #00bb0066;
	--shiny-red: #f0474766;
	--shiny-yellow: #faa61a66;
	--dark-gray: #444444;
}

html {
	font-family: 'Open Sans';
	font-size: 100%;
}

body {
	display: grid;
	grid-template-columns: [grid-start nav-start] 12rem [nav-end content-start] 60rem [content-end] 1fr [grid-end];
	grid-template-rows: [grid-start header-start] 3rem [header-end] auto [grid-end];
	min-height: 100vh;
	margin: 0;
	padding: 0;
	background-color: #20202f0f;
}

header {
	grid-column: grid-start / grid-end;
	grid-row: header-start / header-end;
	color: var(--white);
	background-color: #20202f;
}

nav {
	grid-column: nav-start / nav-end;
	height: 100%;
	background-color: #20202f11;
}

nav ul {
	width: 100%;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

nav ul li {
	display: contents;
}

nav ul a {
	display: list-item;
	width: 100%;
	margin: 0;
	padding: 0.25rem 0.5rem;
	box-sizing: border-box;
	color: var(--black);
	text-decoration: none;
}

nav ul a.current {
	color: var(--blue);
}

nav ul a:hover,
nav ul a:focus {
	background-color: #20202f11;
}

main {
	grid-column: content-start / content-end;
	padding: 0 1rem 2rem;
}

article {
	margin: 1rem 0;
	padding: 0.5rem;
	background-color: var(--white);
}

article > * {
	display: block;
	margin: 0.5em 0;
}

article > div {
	margin: 0.75rem 0;
}

article > :first-child {
	margin-top: 0;
}

article > :last-child {
	margin-bottom: 0;
}

div {
	margin: 0.5rem 0;
}

small {
	color: var(--dark-gray);
}

code {
	font-family: 'Fira Mono';
	width: max-content;
	padding: 0 0.2rem;
	background-color: var(--shiny-gray);
	border-radius: 0.1rem;
}

form {
	max-width: 50rem;
}

label {
	margin: 1rem 0 0.5rem;
}

label span {
	display: block;
}

label .name {
	font-size: 1.1rem;
	font-weight: 600;
}

label .conditions {
	font-style: italic;
	color: var(--dark-gray);
}

/*label .infos {}*/

input,
textarea,
div.pseudoinput {
	display: block;
	max-width: 100%;
	margin: 0.5rem 0 1rem;
	padding: 0.5rem;
	font-family: 'Fira Mono';
	font-size: 1rem;
	background-color: var(--white);
	border: none;
	border-bottom: 0.1rem solid var(--gray);
	outline: 0;
	box-shadow: none;
}

input:focus,
textarea:focus {
	border-color: var(--blue);
}

input.valid,
textarea.valid {
	border-color: var(--green);
}

input.invalid,
textarea.invalid {
	border-color: var(--red);
}

input.tooshort,
textarea.tooshort {
	border-color: var(--yellow);
}

textarea {
	resize: vertical;
}

div.pseudoinput {
	max-width: 35rem;
}

a,
a.inline {
	color: var(--blue);
	text-decoration: underline;
}

a:hover,
a:focus,
a.inline:hover,
a.inline:focus {
	text-decoration: none;
}

a.button {
	--background-color: var(--shiny-blue);
	--border-color: var(--blue);
	display: inline-block;
	margin: auto;
	padding: 0.25rem 0.5rem;
	font-family: 'Open Sans';
	font-size: 0.9rem;
	text-decoration: none;
	color: var(--black);
	background-color: var(--background-color);
	border-bottom: 0.1rem solid var(--border-color);
	border-radius: 0.25rem;
}

button {
	--background-color: var(--shiny-gray);
	--border-color: var(--gray);
	margin: auto;
	padding: 0.25rem 0.5rem;
	font-family: 'Open Sans';
	font-size: 0.9rem;
	text-transform: uppercase;
	color: var(--black);
	background-color: var(--background-color);
	border: 0.1rem solid var(--border-color);
	border-radius: 0.25rem;
}

a.button.gray,
button.gray {
	--background-color: var(--shiny-gray);
	--border-color: var(--gray);
}

a.button.blue,
button.blue {
	--background-color: var(--shiny-blue);
	--border-color: var(--blue);
}

a.button.green,
button.green {
	--background-color: var(--shiny-green);
	--border-color: var(--green);
}

a.button.red,
button.red {
	--background-color: var(--shiny-red);
	--border-color: var(--red);
}

a.button.yellow,
button.yellow {
	--background-color: var(--shiny-yellow);
	--border-color: var(--yellow);
}

a.button.new::before {
	content: '+';
	font-weight: 800;
	padding-right: 0.25em;
	color: var(--border-color);
}

a.button.back::before {
	content: '←';
	font-weight: 800;
	padding-right: 0.25em;
	color: var(--border-color);
}

.dialog {
	visibility: hidden;
	position: fixed;
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	overflow-y: scroll;
	background-color: #00000066;
}

.dialog form {
	font-family: 'Open Sans';
	margin: 2rem auto;
	background-color: #f1f1f2;
	padding: 1rem;
}

.dialog.open {
	visibility: visible;
}

.dialog .grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	width: 100%;
}

.dialog .grid button {
	text-transform: none;
	border: none;
	border-radius: 0;
	background-color: transparent;
}

img {
	width: 100%;
	height: auto;
}



.template {
	display: none;
}
