@font-face {
	font-family: 'Open Sans';
	font-weight: 400;
	font-style: normal;
	src: url('../fonts/Open_Sans/regular.woff2');
}

@font-face {
	font-family: 'Open Sans';
	font-weight: 600;
	font-style: normal;
	src: url('../fonts/Open_Sans/semibold.woff2');
}

@font-face {
	font-family: 'Fira Mono';
	src: url('../fonts/Fira_Mono/regular.woff2');
}

html {
	font-family: 'Open Sans';
	font-size: 100%;
}

body {
	display: grid;
	grid-template-columns: [grid-start] 1fr [outer-start] 5rem [content-start] 60rem [content-end] 5rem [outer-end] 1fr [grid-end];
	margin: 0;
	padding: 0;
}

header {
	grid-column: grid-start / grid-end;
	display: grid;
	grid-template-columns: inherit;
	height: 4rem;
	background-color: #26262b;
	color: #ffffff;
}

header nav {
	grid-column: outer-start / outer-end;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

header nav div {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
}

header nav .logo {
	font-size: 1.1rem;
	font-weight: 800;
}

header nav .logo .darkened {
	color: #ffffff88;
}

header nav a {
	display: block;
	line-height: 4rem;
	padding: 0 1rem;
	color: inherit;
	text-decoration: none;
}

header nav a:hover,
header nav a:focus {
	background-color: #00000044;
}

header div.astronauth {
	font-weight: 600;
}

header div.astronauth .icon {
	font-size: 2rem;
	padding: 0 0.5rem;
}

header div.astronauth .dropdown {
	position: absolute;
	top: 4rem;
	padding: 0.5rem;
	background-color: #26262b;
	display: none;
}

header div.astronauth:hover .dropdown,
header div.astronauth:focus .dropdown {
	display: block;
}

main {
	grid-column: content-start / content-end;
	padding: 0 1rem 2rem;
}

a {
	color: #1da1f2;
	text-decoration: underline;
}

a:hover,
a:focus {
	text-decoration: none;
}

a:active {
	color: #000000;
	background-color: #ffff00;
}

a.edit {
	color: #00bb00;
}

a.delete {
	color: #e3000f;
}

a.button,
a.button:visited {
	display: inline-block;
	padding: 0.5rem;
	margin: 0.25rem 0;
	color: #ffffff;
	text-decoration: none;
	background-color: #1da1f2;
	border: 3px solid #1da1f2;
	border-radius: 0.25rem;
}

a.button:hover,
a.button:focus {
	background-color: #ffffff;
	color: #1da1f2;
}

a.button:active {
	color: #000000;
	background-color: #ffff00;
	border-color: #000000;
}

span.message {
	display: block;
	width: 60rem;
	color: #ffffff;
	font-size: 1rem;
	padding: 1rem 1rem 1rem 0.5rem;
	border-radius: 0.5rem;
	margin: 1rem 0;
}

span.message::before {
	padding: 0.5rem;
	background-color: #00000033;
	border-radius: 0.25rem;
	margin: 0 0.25rem 0 0;
	font-weight: 600;
}

span.message.success {
	background-color: #43b581;
}

span.message.success::before {
	content: 'Info';
}

span.message.warning {
	background-color: #faa61a;
}

span.message.warning::before {
	content: 'Warnung';
}

span.message.error {
	background-color: #f04747;
}

span.message.error::before {
	content: 'Fehler';
}



article.post.preview {
	margin: 1rem 0;
	padding: 0.5rem;
	border: 1px solid #00000044;
}

article.post.preview p {
	margin: 0.5em 0;
}

article.post .longid {
	width: max-content;
	margin: 0;
	padding: 0.1em 0.2em;
	font-family: 'Fira Mono';
	background-color: #00000022;
}

article.post .overline {
	font-weight: 600;
	margin: 0.75em 0 0.5em;
}

article.post .headline {
	margin: 0.25em 0;
}

article.post .subline {
	font-size: 1.1em;
	font-weight: 500;
	font-style: italic;
	margin: 0.25em 0;
}

article.post .author {
	color: #00000088;
}

article.post .timestamp {
	color: #00000088;
	font-style: italic;
}

article.post.preview .teaser {
	height: 0;
	overflow: hidden;
}

article.post.preview:hover .teaser,
article.post.preview:focus .teaser {
	height: auto;
}



form {

}

label {
	display: block;
	margin: 1.5rem 0 0;
}

label span {
	display: block;
	margin: 0.25rem 0;
}

label .name {
	font-size: 1.1em;
	font-weight: 600;
}

label .requirements {
	color: #00000088;
	font-style: italic;
}

input[type=text],
input[type=file],
textarea {
	display: block;
	margin: 0.5rem 0 1rem;
	padding: 0.5rem;
	font-family: 'Fira Mono';
	font-size: 1rem;
	border: none;
	border-bottom: 0.15rem solid #1da1f2;
	border-radius: 0.25rem;
	outline: none;
	background-color: #0000000f;
	box-sizing: border-box;
}

textarea {
	resize: vertical;
}

input.longid {
	font-family: 'Fira Mono';
	width: 50%;
}

input.overline {
	font-family: 'Open Sans';
	font-weight: 600;
	width: 25%;
}

input.headline {
	font-family: 'Open Sans';
	font-size: 2rem;
	font-weight: 700;
	width: 75%;
}

input.subline {
	font-family: 'Open Sans';
	font-size: 1.3rem;
	font-weight: 600;
	font-style: italic;
	width: 75%;
}

textarea.teaser {
	font-family: 'Open Sans';
	line-height: 1.25em;
	width: 50%;
	height: 5em;
}

input.author {
	width: 25%;
}

textarea.content {
	font-family: 'Open Sans';
	line-height: 1.5em;
	width: 100%;
	height: 30rem;
}

input.description {
	width: 100%;
}

input.file {
	width: 50%;
}

input[type=submit] {
	display: block;
	margin: 2rem 0;
	padding: 0.5rem 1rem;
	font-family: 'Open Sans';
	font-size: 1rem;
	border: none;
	border-radius: 0.25rem;
	outline: none;
	color: #ffffff;
	background-color: #1da1f2;
}





span.code {
	background-color: #00000022;
	padding: 0.25rem;
	margin: 0 0.25rem;
	font-family: 'Fira Mono';
}

img {
	max-width: 30rem;
	max-height: 20rem;
}

button {
	padding: 0.5rem;
	margin: 0 0 0.5rem;
	outline: none;
	background-color: #00000022;
	border: 3px solid #00000044;
	border-radius: 0.25rem;
}

button.negative {
	border-color: #f04747;
}

button.negative:hover,
button.negative:focus {
	background-color: #f0474788;
}



#imageinput {
	display: block;
	margin: 0.5rem 0 1rem;
	padding: 0.5rem;
	font-size: 1rem;
	border: none;
	border-bottom: 0.15rem solid #1da1f2;
	border-radius: 0.25rem;
	outline: none;
	background-color: #0000000f;
	box-sizing: border-box;
	width: 50%;
}

#imageinput button,
.dialog button {
	--color: #000000;
	--color-bg: #00000022;
	--color-border: #00000044;
	margin: 1rem 0 0;
	padding: 0.4rem;
	font-family: 'Open Sans';
	font-size: 0.9rem;
	text-transform: uppercase;
	border: 0.1rem solid var(--color-border);
	border-radius: 0.25rem;
	outline: none;
	color: var(--color);
	background-color: var(--color-bg);
}

#imageinput button#ii-basic-clear {
	--color-bg: #f0474766;
	--color-border: #f04747;
}

#imageinput button#ii-basic-pick {
	--color-bg: #1da1f266;
	--color-border: #1da1f2;
}

#imageinput button#ii-basic-upload {
	--color-bg: #00bb0066;
	--color-border: #00bb00;
}

#imageinput img {
	display: block;
	width: 100%;
	font-family: 'Fira Mono';
}

div.dialog {
	display: grid;
	grid-template-columns: inherit;
	grid-template-rows: 5rem auto 1fr 5rem;
	visibility: hidden;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background-color: #000000bb;
	z-index: 99;
}

div.dialog > * {
	grid-column: content-start / content-end;
	grid-row: 2 / 3;
	width: 60rem;
	height: auto;
	padding: 1rem;
	background-color: #ffffff;
	border-radius: 0.5rem;
	z-index: 100;
}

div.dialog.open {
	visibility: visible;
}

div.dialog h2 {
	margin: 0.25rem 0;
}

div.dialog .masonry {
	margin: 1rem 0;
	overflow-y: scroll;
}

div.dialog button {
	margin: 0 0.25rem 0 0;
	padding: 0.4rem;
	font-family: 'Open Sans';
	font-size: 1rem;
	text-transform: none;
	border: 0.1rem solid #00000044;
	border-radius: 0.25rem;
	outline: none;
	background-color: #00000022;
}

div.dialog input[type=submit] {
	display: inline-block;
	margin: 1rem 0.25rem 0 0;
	padding: 0.5rem 1rem;
}
