RewriteEngine on
RewriteRule ^([^\/.]+)(\/?)$ index.php?1=$1 [QSA]
RewriteRule ^([^\/.]+)/([^\/]+)(\/?)$ index.php?1=$1&2=$2 [QSA]
RewriteRule ^([^\/.]+)/([^\/]+)/([^\/]+)(\/?)$ index.php?1=$1&2=$2&3=$3 [QSA]
RewriteRule ^([^\/.]+)/([^\/]+)/([^\/]+)/([^\/]+)(\/?)$ index.php?1=$1&2=$2&3=$3&4=$4 [QSA]
RewriteRule ^([^\/.]+)/([^\/]+)/([^\/]+)/([^\/]+)/([^\/]+)(\/?)$ index.php?1=$1&2=$2&3=$3&4=$4&5=$5 [QSA]
RewriteRule ^([^\/.]+)/([^\/]+)/([^\/]+)/([^\/]+)/([^\/]+)/([^\/]+)(\/?)$ index.php?1=$1&2=$2&3=$3&4=$4&5=$5&6=$6 [QSA]
